.content
  %h4{style: "float: left;margin-top: 0;padding-top: 8px;"} Privacy Policy
  %p
    %img{alt: "", src: "/assets/privacy_policy.png", style: "font-size: 13px; float: right; border: 0px;"}/
  %div{style: "clear:both;"}  
  %p Version Date: 10.8.2013
  %p
    %strong GENERAL
  %p
    Foodpal.com, LLC ("Foodpal") respects the privacy of its users whether they use our website located at 
    %a{href: "http://www.Foodpal.com"}> http://www.foodpal.com
    , including other related media forms and channels (collectively, the "Website") to order food from local restaurants, advertise food for sale, or view the Website.
  %p Foodpal’s privacy policy ("Privacy Policy") is designed to inform the Website user about the types of information Foodpal may gather or collect from users in connection with their Website use.  It also explains the conditions under which Foodpal uses and discloses the information, and your rights in that context.  Each time you use the Website, the current Private Policy version will apply. Therefore, the user should check the Private Policy date appearing at the beginning of this document before each use, and review for changes.
  %p  
  %p The Website is hosted in the United States and is subject to state and federal law.  Access to the Website from other jurisdictions, signifies the transfer of user’s personal information to Foodpal in the United States, and the user’s consent to that transfer and applicable laws. Any user accessing the Website from any jurisdiction with laws or regulations governing the use of the Internet, including personal data collection, use, and disclosure different from those of the Website’s jurisdiction may only use the Website in a manner lawful in user’s jurisdiction.
  %p By using or accessing Foodpal’s Website, the user is accepting Foodpal’s Privacy Policy.
  %p
    %strong CHILDREN
  %p The Website is not intended for children under 13 years of age and Foodpal does not knowingly collect personal information from children under 13.
  %p
    %strong GATHERING, USE AND DISCLOSURE OF NON-PERSONALLY-IDENTIFYING INFORMATION
  %p
    %strong
      %em Users of the Website Generally
  %p "Non-Personally-Identifying Information" is information that, without the aid of additional information, cannot be directly associated with a person. "Personally-Identifying Information" is information that can be directly associated with a specific person.
  %p Foodpal gathers from Website users Non-Personally-Identifying Information of the sort that Web browsers may make available.  Information may include the user's Internet Protocol (IP) address, operating system, and browser type, as well as Web page locations the user views prior to arriving at, while navigating, and immediately after leaving the Website. Foodpal analyzes Non-Personally-Identifying Information gathered from Website users to help Foodpal better understand how the Website is being used.  By identifying patterns and trends in usage, Foodpal can improve users' experience.  Foodpal may also release the Non-Personally-Identifying Information gathered from Website users in the aggregate, such as by publishing a report on trends in Website use.
  %p Foodpal may also periodically obtain both Personally-Identifying Information and Non-Personally-Identifying Information from other Foodpal-affiliated businesses, business partners, contractors, and other third parties (i.e., updated address information, purchase history, and demographic information), and add it to Foodpal’s account information.
  %p  
  %p
    %strong
      %em Web Cookies
  %p A "Web Cookie" is a string of information that a website stores on a user's computer, and that the user's browser provides to the website each time the user submits a query to the site. Foodpal uses Web Cookies to track the pages that users visit during each Website session.  As with other Non-Personally-Identifying Information gathered from Website users, Foodpal analyzes and discloses in aggregated form information gathered using Web Cookies to help Foodpal better understand the Website’s use.  Foodpal does not attempt to link information gathered using Web Cookies to Personally-Identifying Information.
  %p Foodpal users that do not want Web Cookies placed on their computers, should set their browsers to refuse Web Cookies before accessing the Website.  As a result, however, certain Website features may not function as effectively without the aid of Web Cookies.  Users who refuse Web Cookies assume responsibility for any loss in functionality.
  %p
    %strong
      %em Third Party Advertisers
  %p
    Foodpal uses third-party advertising companies to present ads on the Website. These companies may use information (not including Personally-Identifying Information) about your visits to this and other websites that are contained in Web Cookies to provide ads about goods and services of interest to you.  A tool provided by the
    = succeed "," do
      %u Network Advertising Initiative
    = succeed ".\u{a0}" do
      %a{href: "http://networkadvertising.org/managing/opt_out.asp"} http://networkadvertising.org/managing/opt_out.asp
  %p
    %strong
      %em Web Beacons
  %p A "Web Beacon" is an object that is embedded in a web page that is usually invisible to the user and allows website operators to check whether a user has viewed a particular web page or an email. Foodpal may use Web Beacons on the Website and in emails to count users that have visited particular pages, viewed e-mails, and to deliver co-branded services.  Web Beacons are not used to access users' Personally-Identifying Information; they are used to compile aggregated statistics about Website usage. Web Beacons collect a limited set of information, including Web Cookie number, time and date of page or e-mail view, and description of the page or e-mail on which the Web Beacon resides.  Users may not decline Web Beacons, but can render them ineffective by declining all Web Cookies or modifying the browser setting to receive notifications that allow users to accept or decline Web Cookies on an individual basis.
  %p
    %strong
      %em Aggregated and Non-Personally-Identifying Information
  %p Foodpal may share aggregated and Non-Personally Identifying Information collected under any of the above circumstances.  Foodpal may also share it with third parties and affiliated companies to develop and deliver targeted advertising on the Website and on third party websites. Foodpal may combine Non-Personally Identifying Information collected with additional Non-Personally Identifying Information collected from other sources. Foodpal may share aggregated information with third parties, including advisors, advertisers, and investors, for the purpose of conducting general business analysis.
  %p  
  %p
    %strong COLLECTION, USE AND DISCLOSURE OF PERSONALLY-IDENTIFYING INFORMATION
  %p
    %strong
      %em Website Registration
  %p As defined above, Personally-Identifying Information is information that can be directly associated with a specific person. Foodpal collects a range of Personally-Identifying Information from and about Website users. Most of the Personally-Identifying Information collected by Foodpal is information provided by users when registering with the Website or purchasing food.  Information may include the user's name, address, e-mail address, and telephone number, and, if user transacts business with Foodpal, financial information such as payment method (valid credit card number, type, expiration date, or other financial information). Foodpal may also request information about your interests and activities, gender, age, date of birth, username, hometown and other demographic information.  Website users are under no obligation to provide Foodpal with Personally-Identifying Information, however, a user’s refusal may prevent the user from using certain Website features.
  %p BY REGISTERING WITH OR USING THE WEBSITE, YOU CONSENT TO FOODPAL’S USE AND DISCLOSURE OF YOUR PERSONALLY IDENTIFYING INFORMATION AS DESCRIBED IN THIS "COLLECTION, USE AND DISCLOSURE OF PERSONALLY-IDENTIFYING INFORMATION" SECTION.
  %p  
  %p
    %strong
      %em Online Forums and Public Postings; Other Collections
  %p
    Certain Personally-Identifying Information collected from users is disclosed as a result of the Website’s use.  Foodpal provides areas on its Websites where users can post information and reviews about restaurants. Postings are governed by our
    = succeed ".\u{a0}" do
      %u Terms of Use
  %p Users assume all responsibility for the loss of privacy or other harm resulting from the voluntary disclosure of Personally-Identifying Information.
  %p  
  %p
    %strong
      %em Foodpal Communications
  %p Foodpal may use the Website user’s name and e-mail address to send users notifications regarding new services, and announcements.  Users may opt-out of such communications during the registration process or through account settings.  Foodpal reserves the right to send users notices about their account even if users opt-out of voluntary e-mail notifications.
  %p  
  %p
    %strong
      %em Notices Directed to Foodpal concerning Violations of Website Terms of Use and Other Communications
  %p By submitting a copyright infringement notification under the Digital Millennium Copyright Act (DMCA) (explained further in our Infringement Policy) or other communication (including communications about content stored on or transmitted through the Website) you consent to have such notification forwarded to the person or entity who stored, transmitted or linked to the content addressed by your notification to facilitate a prompt resolution. For notices of violations of our Terms of Use or other communications (but not DMCA copyright infringement notifications), upon request Foodpal will edit out your name and contact information.  DMCA copyright infringement notifications (including any Personally-Identifiable information set forth in the notifications), however, will be forwarded as submitted without deletions.
  %p  
  %p
    %strong
      %em Foodpal Disclosures
  %p Foodpal will disclose Personally-Identifying Information under the following circumstances:
  %p{style: "margin-left:.5in;"}
    ●     
    = succeed "." do
      %strong By Law or to Protect Rights
  %p{style: "margin-left:.5in;"}
    ●     
    = succeed "From" do
      %strong Direct mail partners.
  %p{style: "margin-left:.5in;"}
    ●     
    = succeed "." do
      %strong Marketing Communications
  %p{style: "margin-left:.5in;"}
    ●     
    = succeed "." do
      %strong Restaurants
  %p{style: "margin-left:.5in;"}
    ●     
    = succeed "." do
      %strong Third Party Service Providers
  %p{style: "margin-left:.5in;"}
    ●     
    = succeed "." do
      %strong Business Transfers; Bankruptcy
  %p
    %strong
      %em Changing Personally-Identifying Information; Account Termination
  %p Users may at any time review or change their Personally-Identifying Information by going to account settings or contacting Foodpal using the contact information below.  Upon the user’s request, we will deactivate or delete the account and contact information from Foodpal’s active databases as soon as practicable.  To make this request, users must go to account settings or contact Foodpal as provided below.  Foodpal may retain some personal information in its files to prevent fraud, troubleshoot problems, assist with investigations, enforce our Terms of Use, or comply with legal requirements. 
  %p
    %strong
      %em General Use
  %p Foodpal uses the Personally-Identifiable Information in user’s file, and other information we obtain from your current and past activities on the Website to: 1) deliver the products and services you requested, 2) manage users’ accounts and provide customer support, 3) communicate with you by e-mail, postal mail, telephone and/or mobile devices about products or services, 4) develop and display content and advertising tailored to your interests, 5) resolve disputes and troubleshoot, 6) gauge consumer interest in our services, 7) provide rewards for the ads you watch, 8) inform users of updates, 9) customize users experience, 10) detect and protect Foodpal against error, fraud, and other criminal activity, 11) enforce Foodpal’s Terms of Use, and 12) as otherwise described to users at the time of collection.  Foodpal may look across multiple users to identify problems.
  %p  
  %p
    %strong CONTESTS, GIVEAWAYS AND SURVEYS
  %p Foodpal may offer Website users the opportunity to participate in contests, giveaways, and promotions. Any information submitted in connection with such activities will be treated in accordance with Foodpal’s Privacy Policy.  Foodpal may also ask Website users to participate in surveys designed to help Foodpal improve the Website.  Personally-Identifying Information provided to Foodpal in connection with any survey will be used only in relation to that survey, and will be disclosed to third parties not bound by this Privacy Policy only in non-personally-identifying, aggregated form.
  %p  
  %p
    %strong EMAIL TO FRIENDS FEATURE AND REFERRAL PROGRAM
  %p Foodpal may offer users the ability to send friends e-mails about the Website. If users choose to use the feature, Foodpal only uses friends' e-mail addresses on a one-time basis to send the requested e-mail.
  %p  
  %p
    %strong COLLECTION AND USE OF INFORMATION BY THIRD PARTIES GENERALLY
  %p Foodpal prohibits its contractors, affiliates, vendors, and suppliers from disclosing Personally-Identifying Information received from Foodpal, except in accordance with this Privacy Policy.  Third parties are under no obligation to comply with this Privacy Policy, however, with respect to Personally-Identifying Information that users provide directly to those third parties or that those third parties collect for themselves.  Foodpal neither owns nor controls the third-party websites accessible through the Website.  Accordingly, this Privacy Policy does not apply to information provided to or gathered by third parties.  Before providing any Personally-Identifying Information to any third party, users should inform themselves of applicable third-party privacy policies and should take steps to protect their privacy.
  %p  
  %p
    %strong SECURITY
  %p Foodpal takes the security of your Personally-Identifying Information seriously and uses reasonable electronic, personnel, and physical measures to protect it from loss, theft, alteration, or misuse.  Yet, even the best security measures cannot fully eliminate all risks.
  %p  
  %p
    %strong PRIVACY POLICY CHANGES
  %p Foodpal may, in its sole discretion, change this Privacy Policy.  Any changes to Foodpal's Privacy Policy will be reflected on this page and the date of updated Privacy Policy versions will be stated at the top of this Privacy Policy.  Unless Foodpal obtains the users express consent, any updated Privacy Policy will apply only to information collected after such update takes effect, and will not apply to information collected under any earlier Privacy Policy versions.  Users should regularly check this page for any changes to the Privacy Policy.  Foodpal will always post updates but may also notify users of changes to the Privacy Policy via e-mail or otherwise.  It is important that users maintain and update their contact information.  Changes to the Privacy Policy will become effective 30 days after posting updates on the Website.
  %p  
  %p  
  %p
    %strong CONTACT
  %p If you have any questions regarding our Privacy Policy, please contact our privacy relations department at:
  %p Email: info@foodpal.com
  %p
    %strong TERMS OF USE FOR CUSTOMERS
  %p
    %strong TERMS OF USE AGREEMENT
  %p
    This Terms of Use Agreement ("Agreement") constitutes a legally binding agreement made between the user and Foodpal, LLC and its affiliated companies (collectively, "Foodpal”), concerning your access to and use of the
    %a{href: "http://www.foodpal.com/"} www.Foodpal.com
    website as well as any other related media form or channel (collectively, the "Website"). The Website allows restaurants ("Restaurants") to market and offer for sale meals for delivery and/or pick-up and customers to search for and purchase such meals ("Foodpal Services").  The Foodpal Services are hosted in the United States.
  %p All users of the Website who are minors in the jurisdiction in which they reside (generally under the age of 18) must have the permission of, and be directly supervised by, a parent or guardian.  If you are a minor, you must have your parent or guardian read and agree to this Agreement prior to you using the Website.  Anyone under the age of 13 cannot register to use the Website Services.
  %p YOU ACCEPT AND AGREE TO BE BOUND BY THIS AGREEMENT BY ACKNOWLEDGING SUCH ACCEPTANCE DURING THE REGISTRATION PROCESS (IF APPLICABLE) AND ALSO BY USING THE WEBSITE.  IF YOU DO NOT AGREE TO ABIDE BY THIS AGREEMENT, OR TO MODIFICATIONS FOODOPAL MAY MAKE TO THIS AGREEMENT, DO NOT USE OR ACCESS THE FOODPAL SERVICES OR WEBSITE.
  %p  
  %p
    %strong OUR PURPOSE
  %p We have created the Website to serve as a marketplace.  Foodpal is a merchant of food ordering and delivery services. Foodpal does not sell or control the production of any food produced at the Restaurants. 
  %p Restaurants are obligated by Foodpal to comply with federal, state, and local laws and regulations pertaining to food preparation, sale, marketing, and safety. Foodpal does not independently verify the Restaurant’s credentials, representations, or products, the ingredients or quality of products, or that a Restaurant is in compliance with applicable laws.  Buyers must take the necessary steps to independently inform themselves as to the Restaurant’s quality, reliability, and compliance with applicable laws.  Additionally, a Restaurant may represent that food preparation is in accordance with special standards such as "organic," "kosher," "macrobiotic" or allergen-specific standards such as "nut-free," "gluten-free," or "lactose-free."  Foodpal does not independently investigate or verify such representations.  Foodpal shall not be liable or responsible for any food or services offered by Restaurants that is unhealthy, causes injury, or is otherwise unacceptable or does not meet the buyer’s expectations.  Buyers are also solely responsible for verifying the accuracy of delivery addresses, and Foodpal shall have no liability or responsibility for erroneous addresses.
  %p  
  %p
    %strong
      %em Please direct all complaints concerning Restaurants to Foodpal 's attention as indicated on the Website.
  %p
    %strong ORDERING AND PAYMENT
  %p All ordering is performed online.  Foodpal bills buyers directly for their orders, and "Foodpal " will be the name that appears on buyer’s payment records, but Foodpal shall not be considered the seller of food. On occasion, credit card information may be provided to the Restaurants, and in such case, the Restaurant will bill the buyer directly.  The buyer will be notified at the time of purchase if the Restaurant will be billing directly. In such case, the buyer authorizes Foodpal to transfer your credit card information to the Restaurant for processing.
  %p  
  %p
    %strong REFUND POLICY
  %p Foodpal takes customer satisfaction seriously. In the event a buyer has problems with the food order, please contact the Restaurant directly.  If the Restaurant is unable to resolve your issue, please contact Foodpal and we will try to assist you.
  %p  
  %p
    %strong GIFT CARDS
  %p If Foodpal offers gift cards, the following terms will apply: (1) gift cards cannot be combined with cash, (2) gift cards are redeemable only with online payments; (3) gift cards are not redeemable for cash, (4) lost, stolen, or damaged gift cards may be replaced only with valid proof of purchase and only to the extent that the remaining gift card balance appears in Foodpal 's records, (5) gift cards are not a credit or debit card, (6) there are no expiration dates and no fees for purchased gift cards, and (7) expiration dates or other terms may apply to promotional or service credit gift cards not purchased directly by a consumer.
  %p  
  %p
    %strong USER REPRESENTATIONS
  %p
    %strong
      %em General
  %p By using the Foodpal Services, you represent and warrant that:
  %p{style: "margin-left:.5in;"} a.    all registration information you submit is truthful and accurate;
  %p{style: "margin-left:.5in;"} b.    you will maintain the accuracy of such information;
  %p{style: "margin-left:.5in;"} c.     you will keep your password confidential and be responsible for all use of your password and account;
  %p{style: "margin-left:.5in;"} d.    you are not a minor in the jurisdiction in which you reside, or if a minor, you have received parental permission to use the Website; and
  %p{style: "margin-left:.5in;"} e.    your use of the Foodpal Services does not violate any applicable law or regulation.
  %p  
  %p  
  %p
    %strong
      %em Regarding Content You Provide
  %p You are entirely responsible for the content of, and any harm resulting from, your postings to the interactive portions of the Website ("Contribution").  When you make available a Contribution, you represent that:
  %p{style: "margin-left:.5in;"} a.    the creation, distribution, transmission, public display and performance, accessing, downloading and copying of your Contribution does not and will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark, trade secret or moral rights of any third party;
  %p{style: "margin-left:.5in;"} b.    you are the creator and owner of or have the necessary licenses, rights, consents, releases and permissions to use and to authorize Foodpal and the Website users to use your Contributions as necessary to exercise the licenses granted by you under this Agreement;
  %p{style: "margin-left:.5in;"} c.     your Contribution does not contain viruses, worms, Trojan horses, malicious code, or other harmful or destructive content;
  %p{style: "margin-left:.5in;"} d.    your Contribution is not obscene, lewd, lascivious, filthy, violent, harassing, or otherwise objectionable (as determined by Foodpal), libelous or slanderous, does not incite, encourage, or threaten immediate physical harm against another, does not violate any applicable law or regulation, and does not violate the privacy or publicity rights of any third party;
  %p{style: "margin-left:.5in;"} e.    your Contribution does not constitute, contain, install or attempt to install or promote spyware, malware or other computer code, whether on Foodpal 's or others' computers or equipment, designed to enable you or others to gather information about or monitor the online or other activities of another party;
  %p{style: "margin-left:.5in;"} f.      your Contribution does not inundate the Website with communications or other traffic suggesting no serious intent to use the Website for its stated purpose;
  %p{style: "margin-left:.5in;"} g.    your Contribution does not otherwise violate, or link to material that violates, any provision of this Agreement or any applicable law or regulation; and
  %p{style: "margin-left:.5in;"} h.    your Contribution does not contain pictures, data, audio or visual files, or any other content that is excessive in size, as determined by Foodpal.
  %p  
  %p  
  %p
    %strong CONTRIBUTION LICENSE
  %p By posting Contributions to any part of the Website, you automatically grant, and you represent and warrant that you have the right to grant, to Foodpal an irrevocable, perpetual, non-exclusive, transferable, royalty-free, fully-paid, worldwide license to use, copy, publicly perform, publicly display, reformat, translate, excerpt (in whole or in part) and distribute such Contributions for any purpose, commercial, advertising, or otherwise, in connection with the Website or the promotion thereof, to prepare derivative works of, or incorporate into other works such Contributions, and to grant and authorize sublicenses of the foregoing.
  %p  
  %p Foodpal has the right, in our sole discretion, to (i) edit, redact, or otherwise change any Contributions, (ii) re-categorize any Contributions to place them in more appropriate locations or (iii) pre-screen or delete any Contributions that are determined to be inappropriate or otherwise in violation of this Agreement.
  %p  
  %p
    %strong GUIDELINES FOR RESTAURANT REVIEWS
  %p Foodpal may accept, reject or remove restaurant reviews in its sole discretion. Foodpal has no obligation to screen reviews or delete them, even if anyone considers reviews objectionable or inaccurate.  (1) Persons posting reviews should have firsthand experience with the establishment being reviewed; (2) reviews should not contain offensive language, profanity, abusive, racist, or hate language, discriminatory references based on religion, race, gender, national origin, age, marital status, sexual orientation, or disability; or references to illegal activity; (3) reviewers should not be affiliated with competitors if posting negative reviews; and (4) reviewers should not make any conclusions as to the legality of a Restaurant’s conduct.
  %p Reviews are not endorsed by Foodpal, and do not represent the views of Foodpal or of any Foodpal affiliate or partner.  Foodpal does not assume liability for any review or for any claims, liabilities, or losses resulting from a review.
  %p  
  %h2 SUBMISSIONS
  %p You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information about the Website or the Foodpal Services ("Submissions") provided by you to Foodpal are non-confidential and Foodpal (as well as any designee of Foodpal ) is entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial, or otherwise, without acknowledgment or compensation to you.
  %p  
  %p
    %strong PROHIBITED ACTIVITIES
  %p You may not access or use the Website for any purpose other than that for which Foodpal makes it available.  The Website is for the personal use of users only and may not be used in connection with any commercial endeavors except those that Foodpal specifically endorses or approves.  Prohibited activity includes, but is not limited to:
  %p{style: "margin-left:.5in;"} a.    criminal or tortious activity, including child pornography, fraud, trafficking in obscene material, drug dealing, gambling, harassment, stalking, spamming, copyright infringement, patent infringement, or theft of trade secrets;
  %p{style: "margin-left:.5in;"} b.    advertising to, or solicitation of, any user to buy or sell any products or services, unless authorized by Foodpal ;
  %p{style: "margin-left:.5in;"} c.     systematic retrieval of data or other content from the Website to create or compile, directly or indirectly, a collection, compilation, database or directory without Foodpal’s written consent.
  %p{style: "margin-left:.5in;"} d.    making any unauthorized use of the Foodpal Services, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited e-mail;
  %p{style: "margin-left:.5in;"} e.    engaging in unauthorized framing of or linking to the Website;
  %p{style: "margin-left:.5in;"} f.      transmitting chain letters or junk e-mail to other users;
  %p{style: "margin-left:.5in;"} g.    using any information obtained from the Website in order to contact, advertise to, solicit, or sell to any user without their prior explicit consent;
  %p{style: "margin-left:.5in;"} h.    engaging in any automated use of the system, such as using scripts to add friends or send comments or messages, or using any data mining, robots or similar data gathering and extraction tools;
  %p{style: "margin-left:.5in;"} i.      interfering with, disrupting, or creating an undue burden on the Website or the networks or services connected to the Website;
  %p{style: "margin-left:.5in;"} j.      attempting to impersonate another user or person;
  %p{style: "margin-left:.5in;"} k.     using the username of another user;
  %p{style: "margin-left:.5in;"} l.      selling or otherwise transferring your profile;
  %p{style: "margin-left:.5in;"} m.  using any information obtained from the Website in order to harass, abuse, or harm another person;
  %p{style: "margin-left:.5in;"} n.    using the Foodpal Service as part of any effort to compete with Foodpal or provide services as a service bureau;
  %p{style: "margin-left:.5in;"} o.    deciphering, decompiling, disassembling or reverse engineering any of the software comprising or in any way making-up a part of the Website;
  %p{style: "margin-left:.5in;"} p.    attempting to bypass any measures of the Website designed to prevent or restrict access to the Website, or any portion of the Website;
  %p{style: "margin-left:.5in;"} q.    harassing, annoying, intimidating or threatening any Foodpal employees or agents engaged in providing any portion of the Foodpal Services to you;
  %p{style: "margin-left:.5in;"} r.      displaying an advertisement, or accepting payment or anything of value from a third person in exchange for your performing any commercial activity on or through the Website on behalf of that person, such as posting blogs or bulletins with a commercial purpose;
  %p{style: "margin-left:.5in;"} s.    deleting the copyright or other proprietary rights notice from any Contribution or Foodpal Content; and
  %p{style: "margin-left:.5in;"} t.      using the Website in a manner inconsistent with any and all applicable laws and regulations.
  %p  
  %p
    %strong INTELLECTUAL PROPERTY RIGHTS
  %p
    The content on the Website ("Foodpal Content") and the trademarks, service marks and logos contained therein ("Marks") are owned by or licensed to Foodpal, and are subject to copyright and other intellectual property rights under United States and foreign laws and international conventions.  Foodpal Content, includes, without limitation, all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics. All Foodpal graphics, logos, designs, page headers, button icons, scripts and service names are registered trademarks, common law trademarks or trade dress of Foodpal in the United States and/or other countries.  Foodpal's trademarks and trade dress may not be used, including as part of trademarks and/or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion, and may not be copied, imitated, or used, in whole or in part, without Foodpal’s prior written consent. Foodpal Content on the Website is provided to you "
    %strong> As Is
    " for your information and personal use only and may not be used, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of the respective owners.  Systematic retrieval of data or other content from the Website to create or compile, directly or indirectly, a collection, compilation, database or directory without written permission from Foodpal is prohibited.  Provided that you are eligible to use the Website, you are granted a limited license to access and use the Website and the Foodpal Content and to download or print a copy of any portion of the Foodpal Content to which you have properly gained access solely for your personal, non-commercial use. Foodpal reserves all rights in and to the Website and Foodpal Content and Marks not expressly granted to you.  If you download or print a copy of the Foodpal Content for personal use, you must retain all copyright and other proprietary notices contained therein.  You agree not to circumvent, disable or otherwise interfere with security related features of the Website or features that prevent or restrict use or copying of any Foodpal Content or enforce limitations on use of the Website or the Foodpal Content.
  %p  
  %h2 THIRD PARTY WEBSITES AND CONTENT
  %p The Website contains (or you may be sent through the Website or the Foodpal Service) links to other websites ("Third Party Websites") as well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software and other content or items belonging to or originating from third parties (the "Third Party Content").  Foodpal does not investigate, monitor, or check for accuracy, appropriateness, or completeness.  Foodpal is not responsible for any Third Party Websites accessed through the Website or any Third Party Content posted on, available through, or installed from the Website, including the content, accuracy, offensiveness, opinions, reliability, privacy practices, or other policies of or contained in the Third Party Websites or the Third Party Content.  Inclusion of, linking to or permitting the use or installation of any Third Party Website or any Third Party Content does not imply Foodpal’s approval or endorsement. If you decide to leave the Website and access the Third Party Websites or to use or install any Third Party Content, you do so at your own risk.  In doing so, however, Foodpal’s terms and policies no longer govern.  You should review the applicable terms and policies, including privacy and data gathering practices, of any website to which you navigate from the Website or relating to any applications you use or install from the Website.  Any purchases you make through Third Party Websites will be through other websites and from other companies, and Foodpal takes no responsibility for purchases that are exclusively between you and the applicable third party.
  %p  
  %p
    %strong SITE MANAGEMENT
  %p Foodpal reserves the right but does not have the obligation to:
  %p{style: "margin-left:.5in;"} a.    monitor the Website for violations of this Agreement;
  %p{style: "margin-left:.5in;"} b.    take appropriate legal action against anyone who, in Foodpal's discretion, violates this Agreement, including without limitation, reporting such user to law enforcement authorities;
  %p{style: "margin-left:.5in;"} c.     in Foodpal's discretion and without limitation, refuse, restrict access to or availability of, or disable (to the extent technologically feasible) any user's Contribution or any portion thereof that may violate this Agreement or any Foodpal policy;
  %p{style: "margin-left:.5in;"} d.    in Foodpal's discretion and without limitation, notice or liability to remove from the Website or otherwise disable all files and content that are excessive in size or are in any way burdensome to Foodpal's systems;
  %p{style: "margin-left:.5in;"} e.    terminate the accounts of repeat infringers; and
  %p{style: "margin-left:.5in;"} f.      otherwise manage the Website in a manner designed to protect Foodpal’s as well as other’s rights and property, and to facilitate the proper functioning of the Website.
  %p  
  %p  
  %p
    %strong PRIVACY
  %p We care about the privacy of our users.  Please review the Foodpal Privacy Policy.  By using the Website or the Foodpal Services, you are consenting to have your personal data transferred to and processed in the United States and to the Privacy Policy terms.
  %p
    %strong TERM AND TERMINATION
  %p This Agreement will remain in full force while you use the Website.  The user can terminate use at any time for any reason by following the instructions for terminating user accounts in account settings.
  %p Foodpal reserves the right to deny access and use of the Website and Foodpal Services in its discretion to any person for any reason; and Foodpal may terminate use of the Website and Foodpal Services, delete user’s profile and any content that may be posted at any time, without warning.
  %p To protect the integrity of the Website and Foodpal Services, Foodpal reserves the right at any time in its discretion to block IP addresses from accessing the Website and Foodpal Services.
  %p Provisions of this Agreement that need to survive termination of this Agreement to fulfill the purposes of such provisions, will be deemed to survive for as long as necessary to fulfill such purposes.
  %p
    %strong MODIFICATIONS
  %p
    %em To Agreement
  %p Foodpal may modify this Agreement from time to time.  Any changes to this Agreement will be reflected on the Website and updates will be indicated by date.  Users agree to be bound to the Website and Foodpal Services after posted modifications become effective.  Foodpal may also choose to alert users of such modifications by means of an e-mail to users’ most recently provided e-mail address.  Users should regularly review this Agreement and keep their contact information current in account settings to ensure they are informed of changes.  Modifications to this Agreement shall be effective 30 days after being posted and shall be effective prospectively.  Modifications made to this Agreement applicable to dispute resolution shall not apply to disputes arising prior to modification’s effective date.
  %p
    %em To Services
  %p Foodpal reserves the right to modify or discontinue, temporarily or permanently, the Foodpal Services (or any part thereof) without notice.  You agree that Foodpal shall not be liable to you or to any third party for any Foodpal Services’ modification, suspension, or discontinuance.
  %p
    %strong DISPUTES
  %p
    %strong
      %em Between Users
  %p If there is a dispute between users of the Website, or between users and any third party, you understand and agree that Foodpal is under no obligation to become involved.  In the event that you have a dispute with one or more other users, you hereby release Foodpal, its officers, employees, agents and successors in rights from any claims, (actual and consequential) arising out of or related to such disputes and/or the Foodpal Services.
  %p
    %strong
      %em With Foodpal
  %p All questions of law, rights, and remedies relating to this Website or the Foodpal Services shall be governed by the law of the State of Florida.  Any legal action by or against Foodpal arising out of or related in any respect to this Website or the Foodpal Services shall be brought solely in either the applicable federal or state courts located in or with jurisdiction over Miami, Florida; subject, however, to Foodpal’s right, at its discretion, to bring an action to seek injunctive relief to enforce this Agreement or to stop or prevent an infringement of proprietary or other third party rights (or any similar cause of action) in any applicable court in any jurisdiction where jurisdiction exists with regard to a user.  You hereby consent to and waive objection to personal jurisdiction and venue in the above-referenced courts.  Application of the United Nations Convention on Contracts for the International Sale of Goods and the Uniform Computer Information Transaction Act (UCITA) are excluded from this Agreement.  In no event shall any claim, action or proceeding by you related in any way to the Website or the Foodpal Services be instituted more than two (2) years after the claim arose.
  %p  
  %p
    %strong CORRECTIONS
  %p Foodpal reserves the right to correct any errors, inaccuracies, or omissions that may appear on the Website and to change or update the information at any time, without prior notice.
  %p
    %strong DISCLAIMERS
  %p Foodpal cannot control the nature of all the content available on the Website or food products sold through the Website.  By operating the Website, Foodpal does not represent or imply that Foodpal endorses any sellers, sellers' products, blogs, Contributions or other content or products available on or linked to by the Website, including without limitation content hosted on third party websites.  Foodpal does not control and is not responsible for unlawful or otherwise objectionable products or content the user may encounter on the Website or in connection with any sellers or Contributions. Foodpal is not responsible for the conduct, online or offline, of any user of the Website or Foodpal Services.
  %p USER AGREES THAT USE OF THE WEBSITE AND FOODPAL SERVICES IS AT USERS’ SOLE RISK. 
  %p FOODPAL DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE WEBSITE AND FOODPAL SERVICES INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. FOODPAL MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE WEBSITE'S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THE WEBSITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (A) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (B) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE WEBSITE AND FOODPAL SERVICES, (C) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (D) ANY TRANSMISSION INTERRUPTION OR CESSATION TO OR FROM THE WEBSITE, (E) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE THAT MAY BE TRANSMITTED TO OR THROUGH THE WEBSITE BY ANY THIRD PARTY, AND/OR (F) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR MADE AVAILABLE THROUGH THE WEBSITE.  FOODPAL DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED THROUGH THE WEBSITE OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND FOODPAL WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING TRANSACTIONS BETWEEN THE USER AND PRODUCT OR SERVICE PROVIDERS.  USER SHOULD USE ITS BEST JUDGMENT AND EXERCISE APPROPRIATE CAUTION.
  %p
    %strong LIMITATIONS OF LIABILITY
  %p IN NO EVENT SHALL FOODPAL BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFITS ARISING FROM USE OF THE WEBSITE OR FOODPAL SERVICES, EVEN IF FOODPAL HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  NOTWITHSTANDING ANYTHING TO THE CONTRARY, FOODPAL 'S LIABILITY TO YOU FOR ANY CAUSE AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO FOODPAL FOR FOODPAL SERVICES DURING ONE MONTH PRIOR TO ANY CAUSE OF ACTION.
  %p TO THE EXTENT THAT CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SOME OR ALL OF THE ABOVE DISCLAIMERS OR LIMITATIONS MAY BE INAAPLICABLE, AND YOU MAY HAVE ADDITIONAL RIGHTS.
  %p
    %strong INDEMNITY
  %p You agree to defend, indemnify and hold Foodpal harmless from and against, any loss, damage, liability, claim, or demand, including reasonable attorneys' fees and expenses, made by any party due to or arising out of your Contributions, use of Foodpal Services, including, without limitation use in violation of this Agreement and/or arising from a breach of this Agreement and/or any breach of your representations and warranties set forth above. Notwithstanding the foregoing, Foodpal reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify Foodpal, and you agree to cooperate, at your expense, with Foodpal's defense of such claims.  Foodpal will use reasonable efforts to notify you of any such claim, action, or proceeding that is subject to this indemnification upon becoming aware of it.
  %h4
    %strong SWEEPSTAKES
  %p Foodpal may conduct sweepstakes that entitle the winners to prizes.  Each sweepstake has its own terms and conditions, set forth in the official rules for that sweepstake.
  %p
    %strong NOTICES
  %p Except as explicitly stated otherwise, any notices to Foodpal shall be given by email to info@foodpal.com.  Any notices given to you shall be given to the e-mail address you provided during the registration process, or such other address as each party may specify.  Notice is considered given 24 hours after the e-mail is sent, unless the sending party is notified that the e-mail address is invalid. Foodpal may also choose to send notices by regular mail or discussion forum postings.
  %p
    %strong U.S. EXPORT CONTROLS
  %p Software from the Website is further subject to United States export controls.  No software may be downloaded from the Website or otherwise exported or re-exported (i) into (or to a national or resident of) Cuba, Iraq, Libya, North Korea, Iran, Syria, or any other country to which the U.S. has embargoed goods; or (ii) to anyone on the U.S. Treasury Department's list of Specially Designated Nationals or the U.S. Commerce Department's Table of Deny Orders.  By downloading or using software, you represent and warrant that you are not located in, under the control of, or a national or resident of any such country or list.
  %p
    %strong MISCELLANEOUS
  %p This Agreement constitutes the entire agreement between you and Foodpal regarding the use of Foodpal Services.  Foodpal’s failure to exercise or enforce any right or provision of this Agreement shall not operate as a waiver of such right or provision.  The section titles in this Agreement are for convenience only and have no legal or contractual effect.  This Agreement operates to the fullest extent permissible by law.  This Agreement and your account may not be assigned by you without our express written consent.  Foodpal may assign any or all of its rights and obligations to others at any time.  Foodpal will not be responsible or liable for any loss, damage, delay or failure to act caused by any reason beyond Foodpal's reasonable control.  If any provision or part of a provision of this Agreement is unlawful, void or unenforceable, that provision or part of the provision is deemed severable from this Agreement and does not affect the validity and enforceability of any remaining provisions.
  %p
    %strong CONTACT US
  %p In order to resolve a complaint regarding Foodpal Services or to receive further information regarding use of Foodpal Services, please contact Foodpal as outlined below or, if any complaint with us is not satisfactorily resolved, and you are a Florida resident, you can contact the Department of Consumer Affairs’, Division of Consumer Services Complaint, Assistance Unit.
  %p
    %strong DIGITAL MILLENNIUM COPYRIGHT ACT (DMCA) INFRINGEMENT NOTICE AND POLICY
  %p
    %strong
      %em Notifications
  %p If you believe that content available on or through the Website infringes upon one or more of your copyrights, immediately notify our Copyright Agent by mail, e-mail or faxed notice ("Notification") providing the information described below, which is pursuant to DMCA 17 U.S.C. § 512(c)(3).  A copy of your Notification will be sent to the person who posted or stored the material addressed in the Notification.  Be advised that pursuant to federal law you may be held liable for damages if you make material misrepresentations in a Notification.  If you are not sure that content located on or linked to by the Website infringes your copyright, you should consider first contacting an attorney.  Foodpal has a policy of terminating repeat infringers in appropriate circumstances.
  %p Notifications should include the following:
  %p{style: "margin-left:.5in;"} a.    A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
  %p{style: "margin-left:.5in;"} b.    Identification of the copyrighted work claimed to have been infringed.  If multiple copyrighted works at one website are covered by a single Notification, a representative list of covered works must be included.
  %p{style: "margin-left:.5in;"} c.     Identification of the material that is claimed to be infringing and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit Foodpal to locate the material.
  %p{style: "margin-left:.5in;"} d.    Information reasonably sufficient to permit Foodpal to contact the complaining party, such as an address, telephone number, and, if available, an e-mail address at which the complaining party may be contacted.
  %p{style: "margin-left:.5in;"} e.    A statement that the complaining party has a good faith belief that use of the material in the manner complained of is unauthorized by the copyright owner, its agent, or the law.
  %p{style: "margin-left:.5in;"} f.      A statement that the information in the Notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
  %p  
  %p  
  %p Notifications should be sent to our Copyright Agent as follows:
  %p Copyright Agent
  %p Foodpal.com, LLC
  %p E-mail: info@foodpal.com
  %p  
  %p Foodpal will advise the alleged infringer of the DMCA statutory Counter Notification procedure described below that the alleged infringer can follow to respond to your claim.
  %p  
  %p
    %strong
      %em Counter Notification
  %p If you believe your own copyrighted material has been removed from the Website as a result of mistake or misidentification, you may submit a written counter notification ("Counter Notification") to our Designated Copyright Agent under DMCA 17 U.S.C. § 512(g)(2) and (3).  Your Counter Notification must include substantially the following:
  %p{style: "margin-left:.5in;"} a.    Identification of the material that has been removed or disabled and the location at which the material appeared before it was removed or disabled.
  %p{style: "margin-left:.5in;"} b.    A statement that you consent to the jurisdiction of the Federal District Court in which your address is located, or if your address is outside the United States, for any judicial district in which the Company is located.
  %p{style: "margin-left:.5in;"} c.     A statement that you will accept service of process from the party that filed the Notification or the party's agent.
  %p{style: "margin-left:.5in;"} d.    Your name, address and telephone number.
  %p{style: "margin-left:.5in;"} e.    A statement under penalty of perjury that you have a good faith belief that the material in question was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.
  %p{style: "margin-left:.5in;"} f.      Your physical or electronic signature.
  %p You may submit your Counter Notification to our Copyright Agent by fax, mail, or e-mail as set forth above.
  %p If you send Foodpal a written Counter Notification meeting the requirements described above, we will restore your removed or disabled material after 10 business days, but no later than 14 business days from the date we receive your Counter Notification, unless our Copyright Agent first receives notice from the party filing the original Notification informing us that such party has filed a court action to restrain you from engaging in infringing activity related to the material in question.  If you materially misrepresent that the disabled or removed content was removed by mistake or misidentification, you may be liable for damages, including costs and attorney's fees.  Filing a false Counter Notification constitutes perjury.
  %p
    %strong SMS (Standard Messaging Service )
  %p{style: "margin-left:.5in;"} a.    Your carrier's standard messaging rates apply to your entry or submission message, our confirmation and all subsequent SMS correspondence.  Foodpal does not charge for any content, however, downloadable content may incur additional charges from your cell phone provider.  Contact your wireless carrier for information about your messaging plan.  Your carrier may impose message or charge limitations on your account that are outside our control.  All charges are billed by and payable to your mobile service provider.
  %p{style: "margin-left:.5in;"}
    b.    By using our Website, you consent to receiving SMS as the method of communication to facilitate us contacting and updating you with information about your order. You can unsubscribe at any time from all SMS services by using the settings on your account or by sending an e-mail to
    %strong info@Foodpal.com
    \.
  %p{style: "margin-left:.5in;"} c.     You represent that you are the owner or authorized user of the wireless device you use to subscribe for the service, and that you are authorized to approve the applicable charges.
  %p{style: "margin-left:.5in;"} d.    Foodpal will not be liable for any delays or failures in your receipt of any SMS messages as delivery is subject to effective transmission from your network operator and processing by your mobile device.  SMS message services are provided on an AS IS, AS AVAILABLE basis.
  %p{style: "margin-left:.5in;"} e.    Data obtained from you in connection with SMS service may include your cell phone number, your carrier's name, and the date, time and content of your messages and other information that you may provide.  Foodpal may use this information to contact you and to provide you notifications about your online food orders.  Your wireless carrier and other service providers may also collect data about your SMS usage, and their practices are governed by their own policies.  Foodpal will only use information you provide to the service to transmit you text message or as otherwise described in this document.  Foodpal reserves the right to disclose any information as necessary to satisfy any law, regulation or governmental request, to avoid liability, or to protect our rights or property.  When you complete forms online or otherwise provide Foodpal with information in connection with the Service, you agree to provide accurate, complete, and true information.
  %p{style: "margin-left:.5in;"} f.      The SMS and the content and materials received through the Service are proprietary to Foodpal, and are for your personal, non-commercial use only. You shall not damage, impair, interfere with or disrupt the SMS or its functionality.
  %p{style: "margin-left:.5in;"} g.    The SMS is available only in the United States.
  %p{style: "margin-left:.5in;"} h.    Foodpal reserves the right to alter charges and/or these terms and conditions.  Foodpal may suspend or terminate the Service to you if we believe you are in breach of our terms and conditions. Your Service is also subject to termination in the event that your wireless Service terminates or lapses.  Foodpal may discontinue the Service at any time.
  %p{style: "margin-left:.5in;"} i.      If you have any questions, e-mail the address below to get additional information about the Service.  There is no charge for help or info.
  %p
    %strong Info@Foodpal .com
  %p  
  %p{align: "center"}
    %strong Foodpal.com
  %p{align: "center"}
    %strong TERMS OF USE FOR RESTAURANTS
  %p Version Date: 10.10.2013
  %p
    This Terms of Use agreement ("Agreement") constitutes a legally binding agreement made between you, whether personally or on behalf of an entity ("you" or the "Restaurant") and Foodpal, LLC and its affiliated companies (collectively, "Foodpal "), concerning access to and use of
    %a{href: "http://www.foodpal.com/"} www.foodpal.com
    as well as any other related media form or channel (collectively, the "Website").  The Website allows Restaurants to advertise their menus and receive food orders for delivery or pickup (the "Foodpal Services"). The Foodpal Services are hosted in the United States.
  %p THE RESTAURANT ACCEPTS AND AGREES TO BE BOUND BY THIS AGREEMENT BY ACKNOWLEDGING SUCH ACCEPTANCE DURING THE REGISTRATION OR OTHER ACCEPTANCE PROCESS AND ALSO BY CONTINUING TO USE THE FOODPAL SERVICES.  IF THE RESTAURANT DOES NOT AGREE TO ABIDE BY THIS AGREEMENT, OR TO FUTURE MODIFICATIONS FOODPAL MAY MAKE TO THIS AGREEMENT, THE RESTAURANT SHOULD NOT ACCESS OR CONTINUE TO USE OR ACCESS THE FOODPAL SERVICES OR THE WEBSITE AND THE RESTAURANT WILL NOTIFY FOODPAL IN WRITING VIA E-MAIL WITHIN 24 HOURS THAT IT IS TERMINATING ITS PRESENCE ON THE WEBSITE AND WILL NO LONGER ACCEPT ORDERS.
  %p The Restaurant agrees to: (a) provide true, accurate, current, and complete information about the Restaurant as prompted by the Website's registration process and (b) maintain and promptly update registration data to keep it true, accurate, current and complete.  If the Restaurant provides any information that is untrue, inaccurate, not current or incomplete, or Foodpal has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Foodpal has the right to suspend or terminate the Restaurant's account and refuse any and all current or future use of the Website and the Foodpal Services (or any portion thereof).
  %p
    %strong MARKETING SERVICES
  %p Foodpal will perform a variety of marketing activities to promote the Restaurant and the Restaurant's menu.  The marketing activities will be determined in Foodpal’s discretion.  The marketing activities undertaken are described on the Website, and may be changed at anytime in Foodpal 's discretion, without notice. Foodpal does not charge the Restaurant directly for marketing activities and Foodpal only receives compensation from the Restaurant based upon actual customer orders, as further described below.
  %p
    %strong MENUS AND MARKETING MATERIALS
  %p The Restaurant will provide Foodpal with the Restaurant's current menu, in the format required by Foodpal, and any other materials requested by Foodpal (collectively, the "Marketing Materials"). If the Restaurant modifies its menu, it will promptly provide Foodpal with an updated menu.  Foodpal may post an image of the menu, transcribe the menu's content, and/or use photographs or other images of menu items or the Restaurant, as determined by Foodpal. By providing Foodpal with Marketing Materials, the Restaurant grants, and represents that it has the right to grant, to Foodpal a non-exclusive, transferable, royalty-free, fully-paid, worldwide license to use, copy, publicly perform, publicly display, reformat, translate, excerpt (in whole or in part) and distribute such Marketing Materials, including any trademarks, trade names, service marks, logos, telephone numbers, and addresses therein, for any purpose in connection with the Website and the Foodpal Services, or the promotion thereof performed directly by Foodpal or indirectly through any advertising channels selected by Foodpal.  The use and distribution may occur in any media formats and channels for the purpose of publishing and promoting your Marketing Materials in connection with services offered or to be offered by Foodpal.  Such use and distribution license will apply to any form, media, or technology.  Foodpal does not assert any ownership over Marketing Materials. The Restaurant retains full ownership of its Marketing Materials and any rights associated with them.
  %p
    %strong ORDERS
  %p Customers may place orders with Foodpal via the Website, or other means as may be determined by Foodpal. When an order is placed, Foodpal’s system automatically sends a fax or e-mail to the Restaurant.  The Restaurant then receives a phone call from Foodpal’s automatic confirmation system, requesting confirmation of receipt of the order by entering a confirmation code or clicking confirmation button unique to each order.  If Foodpal at any time decides to record these telephone calls, the Restaurant consents to such recording and shall notify its employees that such telephone calls are recorded.  The Restaurant must have all customers sign the order confirmation form that Foodpal provides to the Restaurant and the Restaurant agrees to retain a copy of these signed forms for a minimum period of 3 months. The Restaurant will promptly deliver to Foodpal copies of these forms upon request.
  %p
    %strong PAYMENT
  %p When customers place orders, they will generally be charged directly by Foodpal via a credit or debit card.  On occasion, the Restaurant may charge customers either when credit or debit card information is provided to the Restaurant by Foodpal, or when a customer prefers to pay the Restaurant in cash or by check. If the Restaurant has requested Foodpal to fax or e-mail to the customers' credit card information, then the Restaurant agrees to indemnify and hold harmless Foodpal from and against any damages, losses, costs and expenses that Foodpal may incur arising from such transfer, whether arising from claims by a credit card company, government agency, customer or otherwise.
  %p When Foodpal charges customers, Foodpal will deduct the commission percentage or flat fee and a payment processing fee, as listed on the Website or otherwise notified to the Restaurant.  The Commission Percentage shall be calculated based on the charges for food ordered, and shall not be calculated based on charges associated with delivery fees, tips, or taxes. Foodpal may change the Commission Percentage and the payment processing fee at anytime upon posting such changes to the Website, or notifying the Restaurant.  The balance after deductions for the Commission Percentage and the payment processing fees shall be transferred to the Restaurant on a weekly basis via direct bank deposit or check, as determined by Foodpal.
  %p In cases where the Restaurant receives payment from a customer, Foodpal will invoice the Restaurant on a monthly basis for the Commission Percentage due. Such amounts will either be deducted from amounts owed by Foodpal to the Restaurant or shall be paid by the Restaurant to Foodpal via credit card or check, as determined by Foodpal.  If the Restaurant is required to pay an invoice, the the invoice shall be paid within 15 days of receipt.  Late payments will be charged interest equal to one percent (1%) per month until paid in full.
  %p
    %strong TAXES
  %p The Restaurant is responsible for all liability associated with the computation and payment of sales tax to the applicable taxing authorities.  The Restaurant shall be solely responsible for verifying the amount collected, filing the appropriate sales tax returns, and remitting the proper amount to the appropriate taxing authorities. Sales tax shall include any sales, use, privilege, gross receipts, restaurant, excise or other tax due in relation to the sale of food or drink by the Restaurant.
  %p
    %strong RESTAURANT WARRANTIES
  %p The Restaurant hereby warrants and represents that:
  %p{style: "margin-left:92.0pt;"} a.  it will not charge customers ordering food through the Website prices that are higher than the prices charged to the Restaurant's customers that place orders directly with the Restaurant;
  %p{style: "margin-left:92.0pt;"} b.  it will comply with, and prepare, sell, market, and provide all foods in strict compliance with all federal, state, and local laws, and regulations pertaining to food preparation, sale, marketing and safety;
  %p{style: "margin-left:92.0pt;"} c. it will not offer for sale any potentially hazardous food, alcoholic beverage or tobacco product or any other item prohibited by law or by Foodpal's applicable policies;
  %p{style: "margin-left:92.0pt;"} d.  it will take reasonable precautions in all interactions with customers and will bear all risk to their person or property arising from direct contact with the customers and waive any claims relating thereto against Foodpal ;
  %p{style: "margin-left:92.0pt;"} e.  the creation, distribution, transmission, public display and performance, accessing, downloading and copying of your Marketing Materials does not and will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark, trade secret of third parties; and
  %p{style: "margin-left:92.0pt;"} f.  its Marketing Materials do not violate any state or federal law designed to regulate electronic advertising.
  %p
    %strong SUBMISSIONS
  %p The Restaurant acknowledges and agrees that questions, comments, suggestions, ideas, feedback or other information about the Website or the Foodpal Services ("Submissions") provided by Restaurant to Foodpal are non-confidential and Foodpal (as well as any designee of Foodpal) is entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial or otherwise, without acknowledgment or compensation to you.
  %p
    %strong CUSTOMER REVIEWS
  %p The Restaurant understands that the Website accepts and displays reviews from customers. Foodpal may accept, reject or remove reviews in its sole discretion. Foodpal has no obligation to screen or delete reviews, even if anyone considers reviews objectionable or inaccurate.  Reviews are not endorsed by Foodpal, and do not represent the views of Foodpal or of any Foodpal affiliate.  Foodpal does not assume liability for any review or for any claims, liabilities or losses resulting from any review.
  %p
    %strong PROHIBITED ACTIVITIES
  %p The Restaurant may not access or use the Website for any purpose other than that for which Foodpal makes it available.  Prohibited activity includes, but is not limited to:
  %p{style: "margin-left:92.0pt;"} a.  criminal or tortious activity, including child pornography, fraud, trafficking in obscene material, drug dealing, gambling, harassment, stalking, spamming, copyright infringement, patent infringement, or theft of trade secrets;
  %p{style: "margin-left:92.0pt;"} b.  systematic retrieval of data or other content from the Website to create or compile information without written permission from Foodpal ;
  %p{style: "margin-left:92.0pt;"} c. making any unauthorized use of the Foodpal Services, including collecting usernames and/or user e-mail addresses by electronic or other means for the purpose of sending unsolicited email;
  %p{style: "margin-left:92.0pt;"} d.  engaging in unauthorized framing of or linking to the Website;
  %p{style: "margin-left:92.0pt;"} e.  using any information obtained from the Website to contact, advertise, solicit, or sell to any user without prior explicit consent;
  %p{style: "margin-left:92.0pt;"} f.  engaging in any automated use of the system, such as using scripts to add friends or send comments or messages, or using any data mining, robots or similar data gathering and extraction tools;
  %p{style: "margin-left:92.0pt;"} g.  attempting to impersonate another user or person;
  %p{style: "margin-left:92.0pt;"} h.  using the Foodpal Service as part of any effort to compete with Foodpal or to provide services as a service bureau;
  %p{style: "margin-left:92.0pt;"} i.  attempting to bypass any measures of the Website designed to prevent or restrict access to the Website, or any portion of the Website;
  %p{style: "margin-left:92.0pt;"} j.  harassing, annoying, intimidating or threatening any Foodpal employees or agents engaged in providing any portion of the Foodpal Services; and using the Website in a manner inconsistent with applicable laws and regulations.
  %p  
  %p  
  %p
    %strong SOFTWARE
  %p Foodpal Services may include software for use in connection with the Foodpal Services.  If such software is accompanied by an end user license agreement ("EULA"), the terms of the EULA will govern your use of the software.  Otherwise, Foodpal grants to you a non-exclusive, revocable, personal, non-transferable license to use such software solely in connection with the Foodpal Services and in accordance with this Agreement.
  %p
    %strong INTELLECTUAL PROPERTY RIGHTS
  %p Excluding the Marketing Materials, the content on the Website ("Foodpal Content") and the trademarks, service marks and logos contained therein ("Marks") are owned by or licensed to Foodpal, and are subject to copyright and other intellectual property rights under United States and foreign laws and international conventions. Foodpal Content, includes, without limitation, all source code, databases, functionality, software, website designs, audio, video, text, photographs and graphics.  Foodpal graphics, logos, designs, page headers, button icons, scripts and service names are registered trademarks, common law trademarks or trade dress of Foodpal in the U.S. and/or other countries. Foodpal 's trademarks and trade dress may not be used, including as part of trademarks and/or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion and may not be copied, imitated, or used, in whole or in part, without Foodpal’s prior written consent. You agree not to circumvent, disable or otherwise interfere with security related features of the Website or features that prevent or restrict use or copying of any Foodpal Content or enforce limitations on use of the Website or the Foodpal Content therein.
  %p
    %strong PRIVACY
  %p We care about the privacy of our users. Please review the Foodpal Privacy Policy.  By using the Website or the Foodpal Services, you are consenting to have your personal data transferred to and processed in the United States.  By using the Website or the Foodpal Services, you are consenting to the terms of Privacy Policy.
  %p
    %strong TERM AND TERMINATION
  %p This Agreement shall remain in full force while you use the Foodpal Services or are otherwise a user of the Website.  Both Foodpal and you may terminate this Agreement and your participation in the Foodpal Services at any time, for any reason, with or without notice.  Neither party shall have any liability to the other party for damages suffered by a party as the result of any such termination.  Upon termination, each party shall promptly pay the other any outstanding amounts owed from purchases made by customers prior to such termination.
  %p Any provisions of this Agreement that, in order to fulfill the purposes of such provisions, need to survive the termination or expiration of this Agreement, shall survive for as long as necessary to fulfill such purposes.
  %p
    %strong MODIFICATIONS
  %p
    %em To Agreement
  %p Foodpal may modify this Agreement.  Any changes to this Agreement will be reflected on the Website and revisions will be indicated by date.  You agree to be bound to any changes to this Agreement when you use the Foodpal Services after any such modification becomes effective.  Foodpal may, in its discretion, choose to alert you of such modifications by means of an e-mail to your most recently provided e-mail address. It is therefore important that you regularly review this Agreement and keep your contact information current in account settings to ensure you are informed of changes.  Modifications to this Agreement shall be effective 30 days after being posted and apply prospectively.  Additionally, modifications made to this Agreement applicable to dispute resolution shall not apply to disputes arising prior to the effective date of the modification.
  %p
    %em To Services
  %p Foodpal reserves the right to modify or discontinue, temporarily or permanently, the Foodpal Services (or any part thereof) with or without notice.  You agree that Foodpal shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Foodpal Services.
  %p
    %strong DISPUTES
  %p
    %strong
      %em Between Users
  %p If there is a dispute between you and a customer, you understand and agree that Foodpal is under no obligation to become involved.  In the event that you have a dispute with one or more customers, you hereby release Foodpal, its officers, employees, agents and successors in rights from claims, demands and damages (actual and consequential) arising out of or related to such disputes and/or the Foodpal Services.
  %p
    %strong
      %em With Foodpal
  %p All questions of law, rights, and remedies regarding any act, event or occurrence undertaken pursuant or relating to this Website or the Foodpal Services shall be governed by Florida state law, excluding such state's conflicts of law rules.  Any legal action of whatever nature by or against Foodpal arising out of or related the Website and the Foodpal Services shall be brought solely in either the applicable federal or state courts located in or with jurisdiction over Dade County, Florida and Restaurant hereby agrees to such venue as the sole and exclusive venue for the resolution of any disputes with Foodpal; subject, however, to the right of Foodpal, at Foodpal's discretion, to bring an action to seek injunctive relief to enforce this Agreement or to stop or prevent an infringement of proprietary or other third party rights (or any similar cause of action) in any applicable court in any jurisdiction where jurisdiction exists with regard to a user. You hereby consent to (and waive any challenge or objection to) personal jurisdiction and venue in the above-referenced courts.  Application of the United Nations Convention on Contracts for the International Sale of Goods and the Uniform Computer Information Transaction Act (UCITA) is excluded from this Agreement.  In no event shall any claim, action or proceeding by you related in any way to the Website and/or the Foodpal Service (including your visit to or use of the Website and/or the Foodpal Service) be instituted more than two (2) years after the cause of action arose.
  %p
    %strong DISCLAIMERS
  %p TO THE FULLEST EXTENT PERMITTED BY LAW, FOODPAL, ITS OFFICERS, DIRECTORS, MEMBERS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE WEBSITE AND THE FOODPAL SERVICES AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.  FOODPAL MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE WEBSITE'S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THE WEBSITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (A) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (B) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE WEBSITE AND THE FOODPAL SERVICES, (C) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (D) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE WEBSITE, (E) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE WEBSITE BY ANY THIRD PARTY, AND/OR (F) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE WEBSITE.
  %p
    %strong LIMITATIONS OF LIABILITY
  %p IN NO EVENT SHALL FOODPAL OR ITS OFFICERS, DIRECTORS, MEMBERS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT DAMAGES ARISING FROM YOUR USE OF THE WEBSITE OR FOODPAL SERVICES, EVEN IF FOODPAL HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, FOODPAL'S LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO FOODPAL FOR THE FOODPAL SERVICES DURING THE PERIOD OF 3 MONTHS PRIOR TO ANY CAUSE OF ACTION ARISING.
  %p CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
  %p
    %strong INDEMNITY
  %p You agree to defend, indemnify and hold Foodpal, its subsidiaries, and affiliates, and their respective officers, agents, partners and employees, harmless from and against, any loss, damage, liability, claim, or demand, including reasonable attorneys' fees and expenses, made by any party arising from your Marketing Materials, use of the Foodpal Services, including, without limitation use in violation of this Agreement and/or arising from a breach of this Agreement and/or any breach of your representations and warranties set forth above. Notwithstanding the foregoing, Foodpal reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify Foodpal, and you agree to cooperate, at your expense, with Foodpal's defense of such claims.  Foodpal will use reasonable efforts to notify you of any claim that is subject to this indemnification upon becoming aware of it.
  %p
    %strong INSURANCE
  %p Restaurant shall at all times maintain comprehensive public liability insurance, insuring Restaurant against any liability arising out the lease, use, occupancy of maintenance of its premises and all areas appurtenant thereto and the operation of the business.  Such policy shall have a limit of not less than $2,000,000 combined single limit for injury to, or death of, one or more persons per occurrence, and for damage to tangible property per occurrence. All insurance required hereunder shall be issued by licensed insurers rated A+10 or better in "Best's Insurance Guide." Restaurant may carry said insurance under blanket policies.
  %p
    %strong NOTICES
  %p Except as explicitly stated otherwise, any notices given to Foodpal shall be given by email to info@Foodpal.com.  Any notices given to you shall be given to the e-mail address you provided during the registration process, or such other address as each party may specify.  Notice shall be deemed to be given 24 hours after the e-mail is sent, unless the sending party is notified that the e-mail address is invalid.  Foodpal may also choose to send notices by regular mail or discussion forum postings.
  %p
    %strong MISCELLANEOUS
  %p This Agreement constitutes the entire agreement between you and Foodpal regarding the use of the Foodpal Services. Failure of Foodpal to exercise or enforce any right or provision of this Agreement shall not operate as a waiver of such right or provision.  The section titles in this Agreement are for convenience only and have no legal or contractual effect. This Agreement operates to the fullest extent permissible by law. This Agreement and your account may not be assigned by you without Foodpal’s written consent. Foodpal may assign any or all of its rights and obligations to others at any time.  Foodpal will not be responsible or liable for any loss, damage, delay or failure to act caused by any cause beyond Foodpal's reasonable control. If any provision or part of a provision of this Agreement is unlawful, void or unenforceable, that provision or part of the provision is deemed severable from this Agreement and does not affect the validity and enforceability of any remaining provisions.
  %p
    %strong CONTACT US
  %p In order to resolve a complaint regarding the Foodpal Services or to receive further information regarding use of the Foodpal Services, please contact Foodpal.
  %p Address:
  %p Foodpal LLC
  %p 990 Biscayne Blvd STE #501
  %p Miami, FL 33130
  %p  
  %p Email: info@foodpal.com
  %p  